<form action="/" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="breed" placeholder="breed">
  <input type="text" name="age" placeholder="age">
  <input type="submit" value= "submit">
</form>
